body {
  background-image: url('wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
}

nav ul{
  text-align: center;
  list-style: none;
}

nav li{
  display: inline-block;
}


nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 2px solid whitesmoke;
}

h1{
  font-size: 60px;
  display: flex;
  justify-content: center;
}

nav ul li a:hover {
  background-color: tomato;
  color: white;
  box-shadow: 0px 0px 15px black;
}

.first {
  font-size: 9.375rem;
  font-family: cursive;
  position: absolute;
  left: 19%;
  top: 37%;
  color: #F3DC5D;
  text-shadow: 1px 5px 5px black;
}

.last {
  font-size: 9.375rem;
  font-family: cursive;
  position: absolute;
  right: 19%;
  top: 58%;
  color: black;
  text-shadow: 1px 5px 5px black;
}

.socials img{
  position: absolute;
}

.HELP img{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.logo{
  position: absolute;
  left: 48.5%;
  top: 130px;
}
